* {
    font-family: Montserrat;
}

.page-header-navigation {
    width: 1280px;
}

.page-header-menu {
    text-align: center;
}

.page-header-menu-link {
    color: #FF0000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;


}

.page-header-menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 72px;
}

.page-main {

    width: 774px;
    height: 29px;
    padding-left: 256px;
    padding-top: 48px;
}

.page-main-title {
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px
}

.page-main-content {
    width: 1145px;
    height: 132px;
    padding-left: 67.5px;
    padding-top: 38px;
}

.page-main-content-text {
    color: #373737;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

.page-main-content-text-one {
    width: 1145px;
    height: 216px;
    padding-left: 67.5px;
    padding-top: 28px;
}

.page-main-content-text-next {
    color: #373737;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

.page-main-content-text-next-button {
    width: 191px;
    height: 51px;
    padding-top: 66px;
    padding-left: 570.5px;
    border: none;
    border-radius: 4px;
}


.button {

    font-size: 12px;
    line-height: 12px;
    color: white;
    padding: 20px 40px;
    margin: 45px 0 50px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #FF0000;
}
.page-main-content-text-next-button-copyrihgt {
    width: 462px;
    height: 39px;
    padding-left: 750px;
    padding-top: 82px;
   
}
.page-main-content-text-next-button-cophgyrit-text {
    color: #373737;
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    
    
    
}